{% extends 'form_div_layout.html.twig' %}

{% block form_errors %}
	{% if errors|length %}
	{% spaceless %}
		<div class="field-error alert alert-error">
		    {{ parent() }}
		</div>
	{% endspaceless %}
	{% endif %}
{% endblock %}

{% block checkbox_row %}
	<div class="control-group">
        <div class="controls">
        	{% if not compound %}
		        {% set label_attr = label_attr|merge({'for': id}) %}
		    {% endif %}
		    {% if required %}
		        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
		    {% endif %}
		    {% if label is empty %}
		        {% set label = name|humanize %}
		    {% endif %}
		    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox control-label')|trim}) %}

        	<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
	    		{{ form_widget(form) }}
	    		{{ label }}
        	</label>
	   		{{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block form_row %}
	<div class="control-group">
		<div class="controls">
		{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
	    {{ form_label(form) }}
	    {{ form_widget(form, { attr: {class: 'span12' }} ) }}
	    {% if help is defined %}<span class="help-block">{{ help}}</span>{% endif %}
	    {{ form_errors(form) }}
	    </div>
    </div>
{% endblock %}

{% block _tom32i_userbundle_profiletype_image_row %}
	{{ block("image_row") }}
{% endblock %}
{% block _tom32i_userbundle_profiletype_image_file_row %}
	{{ block("file_row") }}
{% endblock %}

{% block file_row %}
    {{ form_widget(form, { attr: {class: 'span12' }} ) }}
    {% if help is defined %}<span class="help-block">{{ help}}</span>{% endif %}
    {{ form_errors(form) }}
{% endblock %}

{% block image_row %}
	<div class="control-group">
		<div class="controls">
	        {{ form_label(form, null, {image: form.get('value')}) }}
		    {{ form_widget(form) }}
		    {% if help is defined %}<span class="help-block">{{ help}}</span>{% endif %}
		    {{ form_errors(form) }}
	    </div>
    </div>
{% endblock %}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if image is defined %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' picture')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
	    {% if image is defined and image %}
	    	{% autoescape false %}{{ image.display({'patern': 'avatar'}) }}{% endautoescape %}
	    {% else %}
	    	{{ label|trans({}, translation_domain) }}
	    {% endif %}
    </label>
{% endspaceless %}

{% endblock form_label %}
{% block repeated_row %}
	{% for child in form %}
	    {{ form_errors(child) }}
    {% endfor %}
	<div class="repeated control-group">
		{{ form_label(form) }}
		<div class="controls clearfix">
		{% spaceless %}
		    {% for child in form %}
		    	<div class="span6">
			    {{ form_widget(child, { attr: {class: 'span12', placeholder: child.get('label')|placeholder }} ) }}
			    </div>
		    {% endfor %}
		{% endspaceless %}
	    </div>
    </div>
{% endblock %}